@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
}
body{
    background: linear-gradient(to right, #1fe9f4, #659999); 
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url();
}

.box2{
    display: flex;
    justify-content: space-around;
}

.add{
    font-size: 30px;
    margin: 10px 10px;
    padding: 10px 20px;
}



.box{
    /* padding: 10px 10px; */
    width: 80vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgb(106, 94, 94) ;
    opacity: 0.9;
    background: linear-gradient(to right, #6acedf, #3dc7c5); 
}

input{
   
    width: 90%;
    margin: 10px 10px;
    padding: 10px 10px;
    border: none;
    outline-style: none;
    border-radius: 5px;
    background: rgb(102, 102, 102);
    color:#fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}
button{
    font-size: 20px;
    padding: 5px 5px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #666;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
button:hover{
    opacity: 0.7;
}

input::placeholder{
    color: #fff;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

ul{
  list-style: none;
}

li{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 12px 10px;
    padding: 5px 5px;
    background: #666;
    border-radius: 5px;
    color: #fff;
}


.completed{
    text-decoration: line-through;
    background-color: white;
    color: black;
}

h1{
    text-align: center;
}
